{% extends "main.html" %}

{% block title %} Hello. {% endblock %} 
{% block body %}
<h1>Main page.</h1>
{{request.urlconf}}
{% if user.is_authenticated %}
<p>Hello, <em>{{user}}</em></p>
<ul>
  <li><a href="{% url auth_password_change %}">Change password</a></li>
  <li><a href="{% url subscription_list %}">Available subscriptions</a></li>
  <li>{% if user.muaccount %}
  <a href="{% url muaccounts_account_detail %}">Your site <em>{{user.muaccount}}</em></a>
  {% else %}
  <a href="{% url muaccounts_create_account %}">Create your own site</a>
  {% endif %}</li>
</ul>
{% else %}
<ul>
  <li><a href="{% url subscription_list %}">Available subscriptions</a></li>
</ul>
{% endif %}
{% endblock %}
