<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Title{% endblock %}</title>
 </head>
  <body>
    <div style="font-size: large;">
      <a href="/">main</a>
      | <a href="/admin/">admin</a>
      {% if user.is_authenticated %}
      | <em>{{user}}</em> [<a href="{% url auth_logout %}">logout</a>]
      {% else %}
      | <a href="{% url auth_login %}">log in</a>
      {% endif %}
    </div>
    {% block body %} Body {% endblock %}
  </body>
</html>
