{% extends "main.html" %}

{% block title %} Available subscriptions. {% endblock %} 
{% block body %}
<table rules=all>
  <thead><tr><th>name</th><th>description</th><th>price</th><th>renewal</th><th>&nbsp;</th></tr></thead>
  <tbody>
    {% for o in object_list %}
   <tr>
      <th>{{o.name}}</th>
      <td>{{o.description}}</td>
      <td>{{o.get_pricing_display}}</td>
      <td>{{o.renewal_period}}</td>
      <td><a href="{{o.get_absolute_url}}">details/signup &raquo;</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
